/* GENERAL */
body {
    font-weight: bolder;
}

img {
    margin: 0 auto;
}

h1, a {
    font-family: "Noto Sans", sans-serif;
}

h1{
    font-size: 1.6em;
}

h2{
    font-size: 1.5em;
}

/* Colori */

.colore-sfondo:nth-child(even) {
    background-color: #1bbc9b;
    color: #fff;

}
.colore-sfondo:nth-child(odd) {
    background-color: #fff;
    color: #1bbc9b;
}

.navbar.navbar-default {
    background-color: #2d3e50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #1bbc9b;
}

/* grandezze nav */
.navbar.navbar-default {
    padding: 20px 0;
    margin: 0;
    border-radius: 0;
    border: none;
}

.navbar-brand.text-uppercase {
    font-size: 1.6em;
}

header {
    height: auto;
    padding: 100px 0;
}

.line-divider.linea{

display: inline-block;
margin-bottom: 10px;
width: 10%;
height: 4px;
border-radius: 1px;
background-color: #fff;

}

.fas.fa-star {
    margin-left: 14px;
    margin-right: 14px;
}

@media screen and (min-width:768px) {
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 1.8em;
    }
}
