/* GENERAL */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

img {
    margin: 0 auto;
}

h1, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

h1{
    font-size: 3em;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

a.navbar-brand {
    font-size: 1em;
}

h2{
    font-size: 1.5em;
}

p {
    font-weight: 600;
}

.btn-default {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    padding: 16px 28px;
}

.btn-default:hover {
    background-color: #fff;
    color: #212529;
    border-color: #fff;
}
/* Colori */

.colore-sfondo:nth-child(even) {
    background-color: #1bbc9b;
    color: #fff;

}
.colore-sfondo:nth-child(odd) {
    background-color: #fff;
    color: #2d3e50;
}

.navbar.navbar-default, footer {
    background-color: #2d3e50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a, footer {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #1bbc9b;
}

/* grandezze nav */
.navbar.navbar-default {
    padding: 20px 0;
    margin: 0;
    border-radius: 0;
    border: none;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}


.navbar-brand.text-uppercase {
    font-size: 1.6em;
}

header {
    height: auto;
    padding: 100px 0;
}

.line-divider.linea{

display: inline-block;
margin-bottom: 10px;
width: 10%;
height: 4px;
border-radius: 1px;
background-color: #fff;

}

.fas.fa-star {
    margin-left: 14px;
    margin-right: 14px;
}

.sep-blu {
    color: #2d3e50;
}

.line-divider.linea.bk-blu{
    background-color: #2d3e50;
}

section.portfolio {
    padding: 60px 0;
}

section.portfolio [class*="col"] {
    margin-bottom: 30px;
}

section.portfolio > img {
    border-radius: 20%;
}

section.about {
    padding: 100px 0;
}

.about-rx.lead, .about-sx.lead {
    margin: 60px 0;
    line-height: 1.8;
}

section.contact {
    padding: 60px 0;
}

form {
    margin: 60px 0;
}

.form-control {
    border:none;
}

.form-control:hover {
    border:none;
    box-shadow: none;
}

footer {
    padding: 60px 0;
}

.p-foot {
    font-weight: 100;
    padding: 30px;
    font-size: 18px;
}

#btn-send {
    background-color: #1bbc9b;
    color: #fff;
    margin-top: 40px;

}

#btn-send:hover {
    background-color: #159a80;
}

.p-foot>a {
    color: #1bbc9b;
}



.p-foot>a:hover {
    background-color: #159a80;
}

@media screen and (min-width:768px) {
    h1{
        font-size: 4.5em;
    }
    h2{
        font-size: 1.8em;
    }

}
